body {
    background-image: linear-gradient(to right, rgb(59, 53, 53), rgb(116, 102, 102), rgb(255, 168, 168), rgb(241, 124, 124), rgb(255, 89, 89), rgb(248, 77, 77), red);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.musicplayer {
    text-align: center;
    background-color: rgba(236, 192, 192, 0.521);
    width: 400px;
    height: 600px;
    border-radius: 20px;
    margin-left: 1200px;
    margin-top: 100px;
   

}

.img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 2px 3px 3px;

}

.head{
    background-color: rgba(236, 192, 192, 0.521);
    margin-top: -400px;
    width: 500px;
    padding: 30px 50px 30px 50px;
    border-radius: 20px;
    font-family: "Cinzel", serif;
    

    
   
}

.heading{ 
    margin-left: 500px;
    

}
.head1{
    margin-left: 55px;
    font-family: "Cinzel", serif;
}
